apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: s2ibuildertemplates.devops.kubesphere.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.codeFramework
    name: Framework
    type: string
  - JSONPath: .spec.baseImage
    name: BaseImage
    type: string
  - JSONPath: .spec.version
    name: Version
    type: string
  group: devops.kubesphere.io
  names:
    kind: S2iBuilderTemplate
    plural: s2ibuildertemplates
    shortNames:
    - s2ibt
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            baseImage:
              description: BaseImage is the image this template will use, it does
                not have tags because a template can have multiple tags like JDK6,JDK7
              type: string
            codeFramework:
              description: CodeFramework means which language this template is designed
                for and which framework is using if has framework. Like Java, NodeJS
                etc
              type: string
            environment:
              description: Parameters is a set of environment variables to be passed
                to the image.
              items:
                properties:
                  defaultValue:
                    type: string
                  description:
                    type: string
                  key:
                    type: string
                  optValues:
                    items:
                      type: string
                    type: array
                  required:
                    type: boolean
                  type:
                    type: string
                type: object
              type: array
            tags:
              description: Tags includes all variants in this template
              items:
                type: string
              type: array
            version:
              type: string
          type: object
        status:
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
