apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scheme: http
    prometheus.io/scrape: "true"
  labels:
    control-plane: s2i-controller-manager
    controller-tools.k8s.io: "1.0"
  name: s2ioperator-metrics-service
  namespace: system
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    control-plane: s2i-controller-manager
    controller-tools.k8s.io: "1.0"
